asgiref==3.8.1
async-timeout==4.0.3
cffi==1.16.0
cryptography==42.0.5
Django==5.0.3
django-auditlog==2.3.0
django-redis==5.4.0
django-rest-knox==4.2.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
exceptiongroup==1.2.0
inflection==0.5.1
iniconfig==2.0.0
invoke==2.2.0
model-bakery==1.17.0
packaging==24.0
pluggy==1.4.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pycparser==2.22
PyJWT==2.8.0
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.1
redis==5.0.3
six==1.16.0
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
typing_extensions==4.10.0
uritemplate==4.1.1
